/*
.ant-toolbar {
	margin: 0 0 1em 0;
	padding: 0;
	text-align: right;
	color: #000;
}
.ant-toolbar span {
	margin: 0 .15em;
}
.ant-toolbar span:hover {
	color: #999;
}
.ant-move {
	cursor: move;
}
.ant-close {
	cursor: default;
}
*/
#ant-app {
	margin: 1em 0;
	padding: 0 1em 1em 1em;
	border: 5px solid #000;
	background-color: #fff;
	position: absolute;
	width: 400px;
		   /*
	z-index: 99999;
	*/
}
#ant-new-note {
	width: 100%;
}
/*
#ant-display {
	margin: 0 1em;
	padding: 0 1em 1em 1em;
	border: 5px solid #000;
	background-color: #fff;
	position: absolute;
	background-color: white;
	text-align: left;
	z-index: 99999;
}
#ant-display {
	width: 25%;
}
*/
#ant-note-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#ant-note-list li {
	margin: .25em 0;
}
#ant-note-list a {
	color: #000;
}
#ant-note-list a:hover {
	color: #999;
}
#ant-note-list .ant-active {
	background-color: #ccc;
}
